.modal{
    height: 50vhpx;
    width: 70vw;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color:black; */
}
.modal-content,.modal-footer{
    background-color:rgb(224, 189, 189);

}